# Empty CSS file for your own CSS
#items{
    width: 05px; height: 05px;
    background-color:blue;
}

.nav{
    background: rgb(0, 0, 8);
}

.col-md-6-title1{
    margin: 1rem;
    padding: 1rem;
    /* IMPORTANTE */
    text-align: center;
}
.col-md-4{
    background-color: #fafafa;
}

#item{
    position: fixed ;
    bottom: 2;
    right: 0;
    background-color: #EBE9EA;
    border: 1px solid #D2D2D2;
    border-radius: 8px 8px 8px 8px;
    float: right;
    height: 260px;
    margin-bottom: 10px;
    width: 250px; 
    background-color: #fafafa;
    
}
#vistas{
    position: fixed ;
    bottom: 0;
    right: 0;
    width: 200px;
    border: 1px solid #D2D2D2;
    border-radius: 8px 8px 8px 8px;
    align-items: center;
    justify-content: center;
    min-height: 10vh;
}
h5{
    font-weight: 600;
}
